<div class="mt-5 mb-5 text-center">
  <h1>Tin tức</h1>
</div>
<section class="posts-listing">
  <article class="post-item">
    <a class="post-item__inner" href="#">
      <div class="post-item__thumbnail-wrapper">
        <div
          class="post-item__thumbnail"
          style="background-image: url(https://i1-sohoa.vnecdn.net/2023/03/10/DSC9763-1678416831.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=G7_WqlSopuegPII_L3z-sQ)"
        ></div>
      </div>
      <div class="post-item__content-wrapper">
        <div class="post-item__metas">
          <time
            class="post-item__meta post-item__meta--date"
            datetime="2022-01-16T21:39:21+00:00"
            >Mac mini M2 - máy tính để bàn tí hon mạnh nhất</time
          >
        </div>
        <div class="post-item__excerpt" style="font-size: 16px;">
          Phiên bản mới nhất của dòng Mac mini với chip M2 bắt đầu được bán ra tại Việt Nam tuần này với giá từ 16 triệu đồng.
        </div>
        <div class="post-item__read-more-wrapper">
          <p class="post-item__read-more" style="font-size: 14px;">Đọc thêm</p>
        </div>
      </div>
    </a>
  </article>
  <article class="post-item">
    <a class="post-item__inner" href="#">
      <div class="post-item__thumbnail-wrapper">
        <div
          class="post-item__thumbnail"
          style="background-image: url(https://i1-sohoa.vnecdn.net/2022/12/22/DSCF1013-6806-1671648734-2550-1671648772.jpg?w=0&h=0&q=100&dpr=1&fit=crop&s=EzLeRuxRBo_1dQRx3E8T4g)"
        ></div>
      </div>
      <div class="post-item__content-wrapper">
        <div class="post-item__metas">
          <time
            class="post-item__meta post-item__meta--date"
            datetime="2022-01-16T21:39:21+00:00"
            >Máy tính siêu nhỏ Xiaomi giá hơn 14 triệu đồng</time
          >
        </div>
        <div class="post-item__excerpt" style="font-size: 16px;">
          Xiaomi Mini PC có kích thước nhỏ gọn, nặng 437 gram và cấu hình tốt nhưng phiên bản xách tay chạy hệ điều hành Windows 11 ngôn ngữ Trung Quốc.
        </div>
        <div class="post-item__read-more-wrapper">
          <p class="post-item__read-more" style="font-size: 14px;">Đọc thêm</p>
        </div>
      </div>
    </a>
  </article>
  <article class="post-item">
    <a class="post-item__inner" href="#">
      <div class="post-item__thumbnail-wrapper">
        <div
          class="post-item__thumbnail"
          style="background-image: url(https://i1-sohoa.vnecdn.net/2023/03/10/DSC9763-1678416831.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=G7_WqlSopuegPII_L3z-sQ)"
        ></div>
      </div>
      <div class="post-item__content-wrapper">
        <div class="post-item__metas">
          <time
            class="post-item__meta post-item__meta--date"
            datetime="2022-01-16T21:39:21+00:00"
            >Mở hộp MacBook Pro 16 inch bản đắt nhất tại Việt Nam</time
          >
        </div>
        <div class="post-item__excerpt" style="font-size: 16px;">
          MacBook Pro 16 inch với chip xử lý M2 Max, RAM 96 GB, bộ nhớ 4 TB có giá 149 triệu đồng.
        </div>
        <div class="post-item__read-more-wrapper">
          <p class="post-item__read-more" style="font-size: 14px;">Đọc thêm</p>
        </div>
      </div>
    </a>
  </article>
</section>