<div class="container mt-5 mb-3">
  <h3 class="text-center">Góp ý để chúng tôi hoàn thiện hơn</h3>
  <br />
  <form method="post">
    <div class="form-group">
      <label for="" class="form-label">Họ và tên</label>
      <input class="form-control" name="name" required /><br />
    </div>
    <div class="form-group mb-3">
      <label for="" class="form-label">Ý kiến đóng góp</label>
      <textarea class="form-control" name="text" style="height: 150px" required></textarea>
    </div>
    <div class="text-center">
      <button class="btn btn-success w-25">Gửi</button>
    </div>
  </form>
</div>
