<div class="container-fluid" ng-controller="registerCtrl">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex bg-image"></div>
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="display-4 mb-3">Đăng ký</h3>
              <form ng-submit="submitRegister()">
                <div class="form-group mb-3">
                  <input type="fname" ng-model="fullname" ng-click="removeErrReg()" placeholder="Họ và tên" class="form-control rounded-pill border-0 shadow-sm px-4">
                  <div class="mt-1 text-danger" ng-show="error_fullname!=null">{{error_fullname}}</div>
                </div>
                <div class="form-group mb-3">
                  <input type="email" ng-model="email" ng-click="removeErrReg()" placeholder="Email" class="form-control rounded-pill border-0 shadow-sm px-4">
                  <div class="mt-1 text-danger" ng-show="error_email!=null">{{error_email}}</div>
                </div>
                <div class="form-group mb-3">
                  <input type="username" ng-model="username" ng-click="removeErrReg()" placeholder="Tên đăng nhập" class="form-control rounded-pill border-0 shadow-sm px-4">
                  <div class="mt-1 text-danger" ng-show="error_username!=null">{{error_username}}</div>
                </div>
                <div class="form-group mb-3">
                  <input type="password" ng-model="password" ng-click="removeErrReg()" placeholder="Mật khẩu" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                  <div class="mt-1 text-danger" ng-show="error_password!=null">{{error_password}}</div>
                </div>
                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Đăng ký</button>
              </form>
              <hr>
              <div class="row">
                <div class="col-md-8 col-12 mb-3 d-flex justify-content-start">Đã có tài khoản?&nbsp;<a href="#!login">Đăng nhập ngay</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .login,
  .image {
    min-height: 100vh;
  }

  .bg-image {
    background-image: url('https://bootstrapious.com/i/snippets/sn-page-split/bg.jpg');
    background-size: cover;
    background-position: center center;
  }
</style>